* {
  background-color: #26285e;
  margin: 0;
  padding: 0;
}

.background {
  width: 1500px;
  height: 750px;
  margin: 20px 20px 10px;
  padding: 0;
  background-color: white;
}

.background img {
  height: 750px;
  width: 550px;
  background: black; 
  position: absolute; 
}

form #two {
  height: 600px;
  width: 400px;
  margin-left: 10px;
  margin-top: -90px;
  opacity: 0.03;
}

.background #logo{
  height: 150px;
  width: 100px;
  margin-left: 650px;
  margin-top: 100px;
}

h2 {
  margin-left: 800px;
  margin-top: -620px;
  background-color: white;
  font-size: 35px;
  width: 700px;
}

h3 {
  margin-left: 950px;
  background-color: white;
  font-size: 25px;
  width: 500px;
  margin-top: -10px;
}

.details {
  background-color: white;
  width: 150px;
  margin-left: 30px;
}

form {
 margin-left: 900px;
}

form input {
  width: 650px;
  height: 35px;
  margin-top: -75px;
  background-color: white;
  font-size: 20px;
  margin-left: -100px;
  text-align: center;
}

p {
  margin-left: -100px;
  margin: -180px;
  margin-top: 60px;
  margin-bottom: -20px;
  font-size: 23px;
  background-color: white;
  font-family: sans-serif;
  font-weight: bolder;
}

.class {
  margin-top: 170px;
  margin-left: -100px;
  width: 125px;
  height: 40px;
  font-size:27px;
}

.session {
  margin-left: 250px;
  margin-top: -40px;
  width: 125px;
  height: 40px;
  font-size:27px;
}

.Term {
  margin-left: 100px;
  margin-top: -150px;
  font-size: 27px;
  background-color: white;
  border: none;
}

.submit button {
  background-color: green;
  margin-top: 200px;
  width: 100px;
  height: 40px;
  margin-left: 170px;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  border: none;
}

.footer {
  width: 300px;
  background-color: white;
}

.footer img {
  height: 50px;
  margin-left: 50px;
  margin-top: 70px;
}

.footer p{
  font-size: 13px;
  padding: 0px;
}

.footer #foot {
 margin-top: -50px;
 margin-left: 105px;
}

.footer #foott {
  margin-left: 105px;
  margin-top: 20px;
}

.footer a {
  color: green;
  background-color: white;
  text-decoration: none;
}

.navi {
  height: 45px;
}

.navi a {
  color: white;
  font-size: 20px;
  padding: 20px;
  float: right;
  text-decoration: none;
  font-weight: bolder;
}

.navi p{
  background-color: #26285e;
  color: white;
}