.btn {
    background-color: white;
    height: 40px;

}

.btn button {
    height: 40px;
    color: white;
    text-decoration: none;
    width: 280.5px;
    border-color: white;
    border: 10px solid white;
}

  
  .btn a {
    color: white;
    padding: 17px;
    text-decoration: none;
    font-size: 14px;
    background-color: none;
    font-weight: bold;
    padding: 10px;
  }
  
  .btn a:hover {
    color: lightgreen;
  }